@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700;800&family=Pacifico&display=swap');

:root {
  --text: black;
  --background-color: white;
  --blue: #283BDA;
  --secondary-color: #f7faff;
  --grey: grey;
  --grey-shade-1: lightgrey;
  --grey-shade-2: #484c52;
}

[data-theme="dark"] html {
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: white;
    --background-color: black;
    --secondary-color: #0f0f0f;
    --grey-shade-2: #484c52;
    --grey-shade-1: #2c2c2c;
  }
}

@media (color-scheme: dark) {
  :root {
    --text: white;
    --background-color: black;
    --secondary-color: #0f0f0f;
    --grey-shade-2: #484c52;
    --grey-shade-1: #2c2c2c;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  color: var(--text);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
